.card {
  background-color: #fffbf5;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
  width: 250px;
  height: 250px;
  list-style-type: none;
}

.name {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.name::first-letter {
  text-transform: uppercase;
}

.img {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}
