.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8cecc;
  border-radius: 20px;
  padding: 10px;
}

.searchFormWrapper {
  height: 80px;
  width: 100%;
  background-color: #f44336;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.searchInput {
  border: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  margin-right: 10px;
}

.searchButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
