.errorWrapper {
  width: 100%;
  height: 100vh;
  background-image: url('../../public/errorImg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  padding-left: 180px;

}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorContainer h1 {
  font-size: 36px;
  color: #ff0000;
  margin-top: 0;
  text-align: center;
}

.errorContainer p {
  font-size: 24px;
  color: #333333;
  text-align: center;

}