.searchInput {
  border: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  margin-right: 10px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

/* @media screen and (max-width: 480px) {
  .searchInput {
    width: 200px;
  }
} */
