.nav {
  display: flex;
  gap: 15px;
  padding: 20px;
}

.link {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  transition: transform 0.5s ease;
}

.link:hover {
  transform: scale(1.1);
}

.active {
  color: #c22e28;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    color: #c22e28;
  }

  50% {
    color: #000000;
  }

  100% {
    color: #c22e28;
  }
}
