.list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  gap: 2%;
  margin-bottom: 20px;
}

.errorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorWrapper h1 {
  font-size: 36px;
  color: #ff0000;
  margin-top: 0;
  text-align: center;
}

.errorWrapper p {
  font-size: 24px;
  color: #333333;
  text-align: center;
}

.list a {
  display: block;
  width: 17%;
  height: auto;
}
